/* ==========================================================================
   Color
   ========================================================================== */

/* When hovering on links, make slightly transparent */
a:active,
a:hover {
  opacity: 0.5;
}

.touch a[target="_blank"] {
  &:hover,
  &:active {
    opacity: 1;
  }
}

/* Make body text color gray */
body {
  color: $text_gray;
}

/* Make heading text color slightly darker gray than text */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading_gray;
}

/* Give blockquotes a gray left border */
blockquote {
  border-left-color: $wgi_gray;
}

/**
 * Set division-specific colors
 *
 * 1. Loop through division colors map
 * 2. Set colors based on divison
 */
@each $division, $color in $division_colors {

  /* Build selector based on division for page, top of card, and button */
  #page.#{$division} #main-nav.side-nav,
  .card_top-#{$division},
  .btn-#{$division} {
    background-color: $color;
  }

  /* For division buttons, slightly lighten the hover color */
  .btn-#{$division}:active,
  .btn-#{$division}:hover {
    background-color: lighten($color, 5%);
  }

  /* For division resource card, color buttons, border, and icon */
  .card-resource-#{$division} {
    border-left-color: $color;

    .btn {
      background-color: $color;
    }

    .fa.resrc-type {
      color: $color;
    }
  }

  /* For an individual division post, color stuff */
  .single #page.#{$division} {

    /* Color links division specific color */
    .hentry a {
      @include color-links($color);
    }

    /* Color tabs indicator */
    .tabs .indicator {
      background-color: $color;
    }
  }
}
