/* ==========================================================================
   Content
   ========================================================================== */

/* Make height 100% on IE10 as fix for flexbo */
.flexboxtweener {
  &,
  body,
  #page {
    height: 100%;
  }
}

/* Create left space equal to the size of the sidebar and flex for sticky footer */
#page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 3em 1.5em;

  /* Reduce padding on medium and small screens */
  @include breakpoint($mq_not_large) {
    padding-left: 1em;
    padding-right: 1em;
  }

  /* If this is a page with the side nav, give left padding to account for this */
  &.has-side-nav {
    padding-left: 328px;

    /* Remove the left padding on all but large screens */
    @include breakpoint($mq_not_large) {
      padding-left: 1em;
    }
  }
}

/* Flex content to create sticky footer */
#content {
  flex: 1 0 auto;
}

/* Styles for the main header (entry title) on a page */
h1.entry-title,
h1.page-title {
  margin: 1.35rem 0 0.85rem;
  text-align: center;

  /* Create the gray border after an entry title */
  &:after {
    content: '';
    background-color: $heading_gray;
    display: block;
    height: 4px;
    margin: 8px auto 0;
    width: 72px;
  }
}

/* Slightly increase the font size of an entry description */
.entry-description {
  font-size: 1.25rem;

  /* Align it's text in the center on small devices */
  @include breakpoint($mq_small) {
    text-align: center;
  }
}

/* Give some bottom margin below extra fields in an entry */
.entry-extra {
  margin-bottom: 1.5em;
}
