/* ==========================================================================
   Content
   ========================================================================== */

/* Make height 100% on IE10 as fix for flexbox */
.flexboxtweener {
  &,
  body,
  #page {
    height: 100%;
  }
}

/* Flex for sticky footer */
#page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Flex content to create sticky footer */
#content {
  flex: 1 0 auto;
}

/* Styles for the main header (entry title) on a page */
h1.entry-title,
h1.page-title {
  margin: 2.1rem 0;
  text-align: center;

  /* Create the gray border after an entry title */
  &:after {
    content: '';
    background-color: $heading_gray;
    display: block;
    height: 4px;
    margin: 8px auto 0;
    width: 72px;
  }
}

/* Slightly increase the font size of an entry description */
.entry-description {
  font-size: 1.25rem;

  /* Align it's text in the center on small devices */
  @include breakpoint($mq_small) {
    text-align: center;
  }
}

/* Give some bottom margin below extra fields in an entry */
.entry-extra {
  margin-bottom: 1.5em;
}
