/* ==========================================================================
   Footer
   ========================================================================== */

/* Footer styles: light gray and negatve margins to offset page margins */
.footer {
  background-color: #f5f5f5;
  margin-top: 3em;
  padding-top: 1.5em;

  /* Styles for section titles */
  &_title {
    color: #222;
    font-size: 1rem;
    margin-bottom: 1.5em;
    text-transform: uppercase;

    /* Increase font size on small devices */
    @include breakpoint($mq_small) {
      font-size: 1.125rem;
    }

    /* Styles for division titles in the footer */
    &-div {
      color: #444;
      font-size: 0.875rem;
      margin: 0 0 0.25em;

      /* Increase font size on small devices */
      @include breakpoint($mq_small) {
        font-size: 1rem;
      }
    }
  }

  /* On small screens, give content managers column top margin */
  &_managers {
    @include breakpoint($mq_small) {
      margin-top: 1.5em;
    }
  }

  /* Styles for a division column in the content managers grid */
  &_col-div {
    padding: 0 0.75em 1.5em 0;

    /* For every 5th element in the grid on large screens, clear floats */
    &:nth-of-type(4n+2) {
      @include breakpoint($mq_large) {
        clear: both;
      }
    }

    /* For every 4th element in the grid on medium screens, clear floats */
    &:nth-of-type(3n+2) {
      @include breakpoint($mq_medium) {
        clear: both;
      }
    }

    /* For every 3rd element in the grid on small screens, clear floats */
    &:nth-of-type(2n+2) {
      @include breakpoint($mq_small) {
        clear: both;
      }
    }
  }

  /* Styles for footer paragraphs */
  p {
    line-height: 1;
    margin: 0 0 0.125em;
    padding: 0;
  }

  /* Styles for footer links */
  a {
    @include color-links($text_gray);

    font-size: 0.75rem;

    /* Increase font size on small devices */
    @include breakpoint($mq_small) {
      font-size: 0.875rem;
    }

    /* Underline on hover rather than alter opacity */
    .no-touch &:active,
    .no-touch &:hover {
      opacity: 1;
      text-decoration: underline;
    }

    /* Styles for sign out icon */
    .fa {
      margin-right: 0.25em;
    }
  }
}
