/* ==========================================================================
   Search
   ========================================================================= */

/* Styles for the search field */
.search-field {
  clear: both;
  padding: 1.5em 0 0;
  position: relative;

  /* On home page, add some bottom padding */
  .home & {
    padding-bottom: 0.75em;
  }

  /* Give the label some styles by default and position next to input */
  label {
    color: $input_gray;
    left: 1em;
    line-height: 2.25;
    position: absolute;
    transition: all 0.3s;
  }

  /* On focus, change label color */
  &.has-focus label {
    color: $text_gray;
  }

  /* Styles for the search input */
  #s {

    /* Make the placeholder a lighter gray by default */
    @include color-placeholder($input_gray);

    border: 2px solid $input_gray;
    border-radius: 0.25em;
    box-sizing: border-box;
    color: $text_gray;
    display: inline-block;
    font-weight: 400;
    height: auto;
    line-height: 2.25;
    margin: 0;
    padding-left: 3em;
    transition: all 0.3s;
    width: 100%;

    /* On focus, change to darker gray border and color */
    &:focus {
      @include color-placeholder($text_gray);

      border: 2px solid $text_gray;
      box-shadow: none;
      transition: all 0.3s;
    }
  }
}

/* Increase font size of title on search results page */
.search-title {
  font-size: 1.75rem;
  margin: 0.75em 0 0.5em;
}

/* Make search terms italicized */
.search-terms {
  font-style: italic;
}
