/* ==========================================================================
   Tabs
   ========================================================================= */

/* Remove margin and padding from container */
.tabs_container {
  margin: 0 0 1.5em;
  padding: 0;
}

/* Make tab links heading gray color */
.tab a {
  &,
  &:active
  &:hover,
  &:visited {
    color: $heading_gray !important;
  }

  /* Don't alter opacity on touch devices on hover */
  .touch &:active,
  .touch &:hover {
    opacity: 1;
  }
}

/* Give tab content some padding */
.tab_content {
  padding: 1.5em 0 0;
}
