/* ==========================================================================
   Mixins
   ========================================================================== */

/**
 * Word Wrap
 *
 * Stop words (i.e. long URLs) from breaking outside the container
 */
@mixin word-wrap() {
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  word-break: break-word;
}

/**
 * Color Input Placeholder
 *
 * Set input placeholder color for all browsers
 */
@mixin color-placeholder($placeholder-color) {

  /* Firefox */
  &:-moz-placeholder {
    color: $placeholder-color;
    transition: all 0.3s;
  }

  &::-moz-placeholder {
    color: $placeholder-color;
    transition: all 0.3s;
  }

  /* Internet Explorer */
  &:-ms-input-placeholder {
    color: $placeholder-color;
    transition: all 0.3s;
  }

  /* Webkit (Chrome, Safari, Opera) */
  &::-webkit-input-placeholder {
    color: $placeholder-color;
    transition: all 0.3s;
  }
}

/**
 * Color Links
 *
 * Set link color for all states
 */
@mixin color-links($link-color) {
  &,
  &:active,
  &:hover,
  &:visited {
    color: $link-color;
  }
}

/**
 * Line Clamp
 *
 * Cut off text at specified number of lines
 */
@mixin line-clamp($num_lines, $line-height, $is_webkit) {

  /* If this is webkit browser, use line clamp */
  @if $is_webkit {
    display: -webkit-box;
    -webkit-line-clamp: $num-lines;
    -webkit-box-orient: vertical;
  }

  /* Otherwise, add a linear gradient to mask 25% of end of overflow line */
  @else {
    position: relative;

    &:after {
      background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
      bottom: 0;
      content: "";
      height: #{$line-height};
      position: absolute;
      right: 0;
      text-align: right;
      width: 25%;
    }
  }
}
