/* ==========================================================================
   Navigation | Navbar
   ========================================================================= */

/* Give fixed nav bar and wrapper height + line height of 56px and higher z-index */
.navbar-fixed,
.nav-wrapper {
  height: 56px;
  line-height: 56px;
  z-index: 999;
}

/* Styles for the mobile nav bar */
#navbar {
  background-color: $wgi_gray;
  padding-left: 184px;
  padding-right: 168px;
  transition: 0.3s ease-in-out;

  /* Reduce right padding on large screens and down */
  @include breakpoint($mq_medium_large) {
    padding-left: 176px;
    padding-right: 160px;
  }

  @include breakpoint($mq_small) {
    padding-left: 0;
    padding-right: 0;
  }

  /* Pull ul of icons to the right and position absolutely */
  .right {
    float: none !important;
    position: absolute;
    right: 8px;
    top: 0;

    /* Move to the right on large and medium screens */
    @include breakpoint($mq_medium_large) {
      right: 0;
    }

    /* Make list items height + line height 56px */
    li {
      height: 56px;
      line-height: 56px;
      text-align: center;
      opacity: 0.75;
      width: 64px;

      @include breakpoint($mq_small) {
        width: 48px;
      }

      /* Transparent background color on hover */
      &:active,
      &:hover {
        background-color: transparent;
        opacity: 1;
      }
    }

    /* Styles for the list item links */
    a {
      color: $white;
      height: 48px;
      line-height: 1;
      opacity: 1;
      padding: 0;
      transition: none;
      width: 48px;
    }

    /* Hide search toggle button on medium and large devices */
    .search_toggle {
      display: none;

      /* Show on small devices */
      @include breakpoint($mq_small) {
        display: inline-block;
      }
    }

    /* Styles for list item icons */
    i {
      font-size: 2rem;
      height: 32px;
      margin-top: 7px;
      width: 32px;

      /* On small devices, decrease size of search icon */
      &.navbar_search-icon {
        @include breakpoint($mq_small) {
          font-size: 1.625rem;
          margin-top: 9px;
        }
      }
    }
  }
}
