/* ==========================================================================
   Navigation | Side Nav
   ========================================================================= */

/* Styles for side nav */
#main-nav.side-nav {

  /* Give a little more shadow */
  @extend .z-depth-2;

  /* Default side nav color styles and z-index */
  background-color: $wgi_gray;
  width: 280px;
  z-index: 1000;

  /* Side nav link styles */
  a {
    color: $white;
    font-size: 1.125em;
    height: auto;
    line-height: 1.5;
    padding: 0.75em 0 0.75em 16px;
    transition: none;

    &.active,
    &:active,
    &:hover {
      background-color: $white;
      color: $text_gray;
      opacity: 1;
      transition: none;
    }

    &.active {
      color: #000;
    }
  }

  /* Side nav list item styles */
  .side-nav_item {
    height: auto;
    line-height: 1.5;
    padding: 0;

    /* Transparent on hover */
    &:hover {
      background-color: transparent;
    }

    /* Styles for second level of list items */
    &-second a {
      font-size: 0.875em;
      font-weight: 300;
      padding-left: 40px;

      /* Standard icon width for alignment purposes */
      .fa {
        width: 20px;
      }
    }
  }

  /* A few styles for Font Awesome icons in side nav */
  .fa {
    display: inline-block;
    width: 24px;
  }
}

#sidenav-overlay {
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 999;
}
